

.profileWrap {
    padding-top: 20px;
    margin: 20px auto;
    width: 450px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 10px
}

.friendWrap {
    margin: 20px auto;
    width: max-content;

}